header{
    background-color:#cf0001;
}
.container {
    padding: 20px;
}


.row {
    margin: 0 auto;
    padding: 20px;
}

.col-md-4 {
    margin: 0 auto;
    padding-top: 20px;
}





.carousel-item img {

    margin: 0 auto;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: black;
}

#splash {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    padding: 30vh;
font-family: 'Archivo Black', sans-serif;

}

nav {

font-family: 'Roboto', sans-serif;    font-size: 20px;
}

button, .btn{

font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

p{

font-family: 'Roboto', sans-serif;
 font-size:20px;
}
h2,
h3, h4, h5 {
font-family: 'Archivo Black', sans-serif;

    font-weight: bold;
}

#splash p {
font-family: 'Archivo Black', sans-serif;

    color: red;
    transform: rotate(-2deg);
    text-align: center;
    font-size: 30px;

}

.modal-header{
font-family: 'Archivo Black', sans-serif;


}
.modal-body{

font-family: 'Roboto', sans-serif;
font-size:20px;
}

.custom-control-label{

font-family: 'Roboto', sans-serif;
font-size:20px;
}

@media only screen and (max-width: 375px) {
    /* For mobile phones: */
    #splash{
        padding:0;
    }
        #splash p{
        font-size:15px;
    }
}

@media only screen and (max-width: 768px) {

    #splash p{
        font-size:20px;
    }
}